$theme : 'light';

body{
  @if $theme == 'dark' {
    background-color: black;
    color: white;
  } @else {
    background-color: white;
    color: black;
  }
}

@each $temp in green, red, blue {
  .#{$temp}-el {
    background-color: $temp;
  }
}

div{
  width: 100px;
  height: 100px;
}