$theme : 'light';

body{
  @if $theme == 'dark' {
    background-color: black;
    color: white;
  } @else {
    background-color: white;
    color: black;
  }
}

@for $i from 1 through 5 {
  .item-#{$i} {
    width: 100px * $i;
    height: 100px * $i;
    background-color: lighten(black, $i * 10%);
    margin: 10px;
    display: inline-block;
  }
}